.featured {
    background-image: linear-gradient(rgba(0, 0, 0, 0.849), rgba(0, 0, 0, 0.623)), url(/assets/image/cover\ for\ were\ featured.webp);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
}
.context {
    max-width: 800px;
    width: 100%;
    text-align: center;
}
.context h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #ffffff;
}
  .context p {
    font-size: 25px;
    color: #ffffff;
    margin-bottom: 30px;
}
.video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
  .video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: none;
}