.featured {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    background-color: #81bcd3; 
}
.context {
    max-width: 800px;
    width: 100%;
    text-align: center;
}
.context h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #000000;
}
  .context p {
    font-size: 25px;
    color: #000000;
    margin-bottom: 30px;
}
.video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    border-radius: 10px;
}
  .video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: none;
}