#submission {
  background: linear-gradient(rgba(0, 0, 0, 0.445), rgba(0, 0, 0, 0.441)),
   url(/assets/image/ty.jpg);
   background-repeat: no-repeat;
   background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    color: aliceblue;
  }
  
  #submission h1 {
    font-size: 38px;
  }